<div class="cookies-bar" data-controller="cookies-bar">
  <p>
    We use cookies. Do you accept them?
  </p>

  <%= link_to "Accept", request.original_url, class: "btn accept", data: { action: "click->cookies-bar#allowCookies" } %>
  <%= link_to "Reject", request.original_url, class: "btn reject", data: { action: "click->cookies-bar#rejectCookies" } %>
</div>
